<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gate Security</title>
</head>
<body>
<h1>Gate Security</h1>

<form th:action="@{/security/student}" method="get">
    <label for="studentId">Enter Student ID:</label>
    <input type="text" id="studentId" name="studentId" required>
    <button type="submit">Search</button>
</form>

<div th:if="${student}">
    <p th:text="'Student Name: ' + ${student.name}"></p>
    <p th:text="'Student ID: ' + ${student.id}"></p>
    <form th:action="@{'/security/entry/' + ${student.id}}" method="post">
        <label for="reason">Enter Reason:</label>
        <input type="text" id="reason" name="reason">
        <br>
        <label>Gate Status:</label>
        <input type="radio" id="inStatus" name="status" value="IN" required>
        <label for="inStatus">IN</label>
        <input type="radio" id="outStatus" name="status" value="OUT">
        <label for="outStatus">OUT</label>
        <br>
        <button type="submit">Add attendance</button>
    </form>
    <p>Gate Attendance:</p>
    <ul>
        <li th:each="entry : ${student.gateAttendanceHistory}">
            <p th:text="'Date: ' + ${entry.date}"></p>
            <p th:text="'Time: ' + ${entry.time}"></p>
            <p th:text="'Status: ' + ${entry.status}"></p>
            <p th:text="'Reason: ' + ${entry.reason}"></p>
        </li>
    </ul>
</div>
</body>
</html>
